section.hero
    .hero__container.container
        .swiper
            .swiper-wrapper
                .swiper-slide
                    .hero__background.hero__background-first
                        .swiper-slide__info
                            h1.swiper-slide__title
                                | Наши услуги как отдельный вид искусства
                            p.swiper-slide__description
                                | Есть над чем задуматься:
                                | каждый раз мы черпаем новые идеи и реализуем их в жизнь
                            a.swiper-slide__btn.btn Заказать расчёт
                .swiper-slide
                    .hero__background.hero__background-second
                        .swiper-slide__info
                            h1.swiper-slide__title Lorem ipsum dolor sit amet consectetur
                            p.swiper-slide__description
                                | Lorem ipsum dolor sit amet consectetur
                                | Lorem ipsum dolor sit amet consectetur.
                            a.swiper-slide__btn.btn Заказать расчёт
                .swiper-slide
                    .hero__background.hero__background-third
                        .swiper-slide__info
                            h1.swiper-slide__title
                                | Вы останетесь довольны
                            p.swiper-slide__description
                                | Далеко-далеко за словесными горами в стране гласных
                                | и согласных, живут рыбные тексты.
                            a.swiper-slide__btn.btn Заказать расчёт
            .swiper-pagination
            .swiper-button-prev
            .swiper-button-next

