section.about
    .about__container.container
        h2.about__title
            | О нас
        p.about__description
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
            | Quidem ullam esse doloribus consequatur laboriosam possimus
            | error excepturi dicta eaque facilis! Sed nam architecto harum
            | in placeat quasi at sapiente quae!
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
            | Quidem ullam esse doloribus consequatur laboriosam possimus
            | error excepturi dicta eaque facilis! Sed nam architecto harum
            | in placeat quasi at sapiente quae!
            .about__content
                .about__col
                    .about-banner
                        .about-banner__text
                            p.about-banner__description
                                | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                | Delectus eaque, voluptates quas eveniet quia, odit similique
                            a.about-banner__btn.btn.btn-white Lorem
                .about__col
                    ul.about__list
                        li.about__item
                            .about__icon.about__icon_foot
                            .about__text
                                h3.about__text-heading
                                    | Lorem ipsum dolor sit amet
                                p.about__text-description
                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    | Dolor reprehenderit inventore qui dolorem, iure cupiditate

                        li.about__item
                            .about__icon.about__icon_trophy
                            .about__text
                                h3.about__text-heading
                                    | Lorem ipsum dolor sit amet
                                p.about__text-description
                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    | Dolor reprehenderit inventore qui dolorem, iure cupiditate


