.footer {
    background-color: #1f1f1f;
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
    &__container {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &__left {
        margin-right: 25px;
    }
    &__logo {
        margin-bottom: 25px;
    }
    &__center {
        display: flex;
        flex-direction: column;
        max-width: 585px;
        margin-right: 20px;
    }

    &__right {
        max-width: 360px;
    }

    &__text {
        margin-top: 60px;
        line-height: 26px;
        color: #c8c8c8;
    }
}

.footer-menu {
    margin-bottom: 25px;
    &__item {
        font-size: 18px;
        font-weight: 600;
        line-height: 1;
    }
    &__item:not(:last-child) {
        margin-bottom: 30px;
    }
    &__link {
        position: relative;
        color: white;
        &::before {
            position: absolute;
            content: "";
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #235ebe;
            transition: 0.5s;
            transform: scaleX(0);
        }
        &:hover:before {
            transform: scaleX(1);
        }
        &:active {
            color: #c8c8c8;
        }
    }
}

.social {
    display: flex;
    align-items: center;
    &__item:not(:last-child) {
        margin-right: 30px;
    }
    &__icon {
        width: 40px;
        height: 40px;
        transition: transform 0.2s linear;
        &:hover {
            transform: translateY(-3px);
        }
        &:active {
            opacity: 0.5;
        }
    }
}

.form {
    &__title {
        margin-bottom: 25px;
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
        color: #fff;
    }
    &__input {
        width: 100%;
        padding: 15px;
        color: #fff;
        background-color: #414141;
        border: none;
        outline: none;
        box-shadow: 0 0 15px rgb(0 0 0 / 20%);
        &:hover {
            background-color: #2f2e2e;
        }
        &:focus {
            color: white;
            outline: 3px solid #487aca;
            outline-offset: 3px;
        }
    }
    &__input:not(:last-child) {
        margin-bottom: 25px;
    }
    &__input_textarea {
        height: 150px;
        resize: none;
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__button {
        border: none;
    }
    &__data {
        display: block;
        position: relative;
        padding-left: 35px;
        color: white;
        cursor: pointer;
        user-select: none;
    }
    &__input-check {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #414141;
        transform: translateY(-3px);
    }
    &__data:hover &__input-check ~ &__checkmark {
        outline: 3px solid #8123be;
        outline-offset: 3px;
    }
    &__checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    &__input-check:checked ~ &__checkmark:after {
        display: block;
    }
    &__checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
}

@media (max-width: 1110px) {
    .form {
        &__buttons {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
        &__button {
            margin-top: 25px;
        }
    }
}

@media (max-width: 992px) {
    .footer {
        &__left {
            margin-right: 35px;
        }
        &__center {
            margin-right: 0;
        }
        &__right {
            display: none;
        }
    }
}

@media (max-width: 576px) {
    .footer {
        &__container {
            flex-direction: column-reverse;
            padding-bottom: 20px;
        }
        &__left {
            margin-right: 0;
        }
        &__center {
            margin-right: 0;
        }

        &__logo {
            position: relative;
            text-align: center;
            &::before {
                position: absolute;
                content: "";
                bottom: -3px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #c8c8c8;
            }
        }
    }

    .footer-menu {
        text-align: center;
        margin-bottom: 30px;
    }
    .social {
        justify-content: center;
    }

    .form {
        &__button {
            width: 100%;
            margin-bottom: 30px;
        }
    }
}
