doctype html
html(lang="ru")
    include components/head/head
    body
        include components/header/header

        main.main
            include components/hero/hero
            include components/about/about
            include components/questions/questions
            include components/work/work
        include components/footer/footer

    script(src="js/swiper.js")
    script(src="js/tabs.js")
