section.work
    .work__container.container
        h2.work__title
            | Our works
        ul.tabs
            li.tabs__item
                button.tabs__btn.tabs__btn_active(data-path="one")
                    | first
            li.tabs__item
                button.tabs__btn(data-path="two")
                    | second
            li.tabs__item
                button.tabs__btn(data-path="three")
                    | third
            li.tabs__item
                button.tabs__btn(data-path="four")
                    | fourth


        .tab-content.tab-content-active(data-target="one")
            .tab-content__item
                .tab-content__left
                    h3.tab-content__title
                        | Lorem lorem
                    p.tab-content__description
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        | Pariatur eligendi voluptatum architecto id in quas necessitatibus
                        | adipisci autem deleniti? Quaerat unde magnam incidunt quisquam
                        | reprehenderit et nesciunt nihil provident ab!
                    p.tab-content__description
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        | Pariatur eligendi voluptatum architecto id in quas necessitatibus
                        | adipisci autem deleniti? Quaerat unde magnam incidunt quisquam
                        | reprehenderit et nesciunt nihil provident ab!
                    .tab-content__btns
                        button.tab-content__btn.btn
                            | Lorem ipsum
                        button.tab-content__btn.btn.btn-purple
                            | ipsum
                img.tab-content__image(src="img/content/content-work-1.jpeg" alt="" height="600")
        .tab-content(data-target="two")
            .tab-content__item
                .tab-content__left
                    h3.tab-content__title
                        | Quaerat unde
                    p.tab-content__description
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        | Pariatur eligendi voluptatum architecto id in quas necessitatibus
                        | adipisci autem deleniti? Quaerat unde magnam incidunt quisquam
                        | reprehenderit et nesciunt nihil provident ab!
                    p.tab-content__description
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        | Pariatur eligendi voluptatum architecto id in quas necessitatibus
                        | adipisci autem deleniti? Quaerat unde magnam incidunt quisquam
                        | reprehenderit et nesciunt nihil provident ab!
                    .tab-content__btns
                        button.tab-content__btn.btn
                            | Quaerat unde
                        button.tab-content__btn.btn.btn-purple
                            | unde
                img.tab-content__image(src="img/content/content-work-2.jpeg" alt="" height="600")
        .tab-content(data-target="three")
            .tab-content__item
                .tab-content__left
                    h3.tab-content__title
                        | Pariatur eligendi
                    p.tab-content__description
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        | Pariatur eligendi voluptatum architecto id in quas necessitatibus
                        | adipisci autem deleniti? Quaerat unde magnam incidunt quisquam
                        | reprehenderit et nesciunt nihil provident ab!
                    p.tab-content__description
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        | Pariatur eligendi voluptatum architecto id in quas necessitatibus
                        | adipisci autem deleniti? Quaerat unde magnam incidunt quisquam
                        | reprehenderit et nesciunt nihil provident ab!
                    .tab-content__btns
                        button.tab-content__btn.btn
                            | Lorem ipsum
                        button.tab-content__btn.btn.btn-purple
                            | architecto
                img.tab-content__image(src="img/content/content-work-3.jpeg" alt="" height="600")
        .tab-content(data-target="four")
            .tab-content__item
                .tab-content__left
                    h3.tab-content__title
                        | Quaerat unde
                    p.tab-content__description
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        | Pariatur eligendi voluptatum architecto id in quas necessitatibus
                        | adipisci autem deleniti? Quaerat unde magnam incidunt quisquam
                        | reprehenderit et nesciunt nihil provident ab!
                    p.tab-content__description
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        | Pariatur eligendi voluptatum architecto id in quas necessitatibus
                        | adipisci autem deleniti? Quaerat unde magnam incidunt quisquam
                        | reprehenderit et nesciunt nihil provident ab!
                    .tab-content__btns
                        button.tab-content__btn.btn
                            | Quaerat unde
                        button.tab-content__btn.btn.btn-purple
                            | unde
                img.tab-content__image(src="img/content/content-work-4.jpeg" alt="" height="600")